[Desktop Entry]
Name=Arista Transcoder
GenericName=Multimedia Converter
GenericName[pt_BR]=Conversor Multimídia
Comment=Convert multimedia for all your devices
Comment[pt_BR]=Converta arquivos multimídia para todos os seus dispositivos
Exec=arista-gtk
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/arista/ui/icon.svg
Categories=AudioVideo;GNOME;GTK;
MimeType=x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;

